<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Evenements</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="container">
				<div class="well" style="background-color: #A2D9CE">
				<div class="row">
					<div class="col-md-offset-5 col-md-6">
						<h1>
							<small>Liste des BQM</small>
						</h1>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des evenements</div>
				<div class="panel-body">
					<form th:action="@{/user/event/index}" method="get">
						<!--  post en version finale !!!! -->
						<label> Recherche par nom</label> <input type="text" name="motCle"
							th:value="${motCle}">
						<!-- TODO by Djer : copie/colel cette image dasn ton "static/images" plutot que d'utilsier l'URL. Si tu utilses des ressoruces externe utile un CDN ! -->
						<button type="submit" class="btn btn-primary">
							Chercher <img
								src="https://img.icons8.com/color/48/000000/search-property.png"
								width="23px">
						</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Date</th>
							<th>Nom</th>
							<th>Nombre participant</th>
							<th>Nombre participant par table</th>
							<th>Nombre table</th>
							<th>Bqm</th>
							<th>Gerer</th>
							<th>Editer</th>
							<th>Supprimer</th>
						</tr>
						<tr th:each="event:${listeEvenements}">
							<td th:text="${event.dateEvenement}"></td>
							<td th:text="${event.nomEvenement}"></td>
							<td th:text="${event.nombreParticipant}"></td>
							<td th:text="${event.nombreParticipantTable}"></td>
							<td th:text="${event.nombreTable}"></td>
							<td><a th:href="@{/user/event/bqm(id=${event.idEvenement})}"
								title="manage"><img
									src="https://img.icons8.com/officel/16/000000/meeting-room.png"
									width="30px"></a></td>
							<td><a
								th:href="@{/admin/event/manage(id=${event.idEvenement})}"
								title="manage"><img
									src="https://img.icons8.com/dusk/64/000000/admin-settings-male.png"
									width="30px"></a></td>
							<td><a
								th:href="@{/admin/event/edit(id=${event.idEvenement})}"
								title="Edit"> <img
									src="https://img.icons8.com/color/48/000000/create-new.png"
									width="30px"></a></td>
							<td><a
								onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')"
								th:href="@{/admin/event/delete(id=${event.idEvenement}, page=${currentPage}, motCle=${motCle})}"
								title="Delete"> <img
									src="https://img.icons8.com/color/48/000000/delete-forever.png"
									width="30px"></a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:class="${currentPage==status.index}?'active':''"
							th:each="page,status:${pages}"><a
							th:href="@{/user/event/index(page=${status.index}, motCle=${motCle})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>