<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Page layout</title>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- TODO by Djer : Pouruqoi intégrer le CSS à partir du CDN alors que vous en avez une version "local" (qui est incluse un peu plus bas) -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>


	<div>
		<img class="logo" src="/images/logoAg2r.png" alt=" ">
	</div>


	<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">BQM AG2R</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/user/event/index}">BQM Evenement<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link"
					th:href=" @{/admin/event/create}">Nouveau BQM</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/participant/index}">Participant</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/participant/create}">Nouveau Participant</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a th:href="@{/login?logout}">Logout</a></li>
			</ul>
		</div>
	</nav>

	<section layout:fragment="content"></section>
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<ul class="foote_bottom_ul_amrc">
				<li><a href="http://webenlance.com">Home</a></li>
				<li><a href="http://webenlance.com">About</a></li>
				<li><a href="http://webenlance.com">Services</a></li>
				<li><a href="http://webenlance.com">Pricing</a></li>
				<li><a href="http://webenlance.com">Blog</a></li>
				<li><a href="http://webenlance.com">Contact</a></li>
			</ul>
			<!--foote_bottom_ul_amrc ends here-->
			<p class="text-center">
				Copyright @2019 | Designed by <a
					href="https://www.cnam-auvergnerhonealpes.fr/" target="blank">CNAM
					Auvergne-Rhône-Alpes</a>
			</p>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<!-- Footer -->
</body>
</html>