<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Manage Evenements</title>

</head>
<body>
	<div layout:fragment="content">
		<!-- céation d'un tableau pour stocker les participants -->
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Liste des participants a l'évenement <a
						th:text="${evenementManage.nomEvenement}"></a>
					<div>
						<a th:text="${#lists.size(evenementManage.participants)}"></a><a>/</a><a
							th:text="${evenementManage.nombreParticipant}"></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Entreprise</th>
							<th>Fonction</th>
							<th>Supprimer</th>
						</tr>
						<tr th:each="participant :${evenementManage.participants}">
							<td th:text="${participant.nom}"></td>
							<td th:text="${participant.prenom}"></td>
							<td th:text="${participant.entreprise}"></td>
							<td th:text="${participant.fonction}"></td>
							<td><a
								th:href="@{/admin/event/removePart(idevenement=${evenementManage.idEvenement},idparticipant=${participant.id})}"
								class="btn btn-primary"><img
									src="https://img.icons8.com/cotton/64/000000/delete-sign--v2.png"
									width="23px"> </a></td>



						</tr>
					</table>


				</div>
				<div class="panel-heading">
					Liste des participants pouvant être ajoutés
					<div th:text="${#lists.size(participantManage)}"></div>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Entreprise</th>
							<th>Fonction</th>
							<th>Ajouter</th>
						</tr>
						<tr th:each="participant :${participantManage}">
							<td th:text="${participant.nom}"></td>
							<td th:text="${participant.prenom}"></td>
							<td th:text="${participant.entreprise}"></td>
							<td th:text="${participant.fonction}"></td>
							<td><a
								th:href="@{/admin/event/addPart(idevenement=${evenementManage.idEvenement},idparticipant=${participant.id})}"
								class="btn btn-primary"><img
									src="https://img.icons8.com/dusk/64/000000/add-user-group-woman-man.png"
									width="23px"> </a></td>



						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>